{% load static %}
<!DOCTYPE html>
<html lang="en">

   <head>
        <meta charset="utf-8" />
        <title>투자용 빅데이터</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static '/admin/images/favicon.ico' %}">
    <!-- Plugins css-->
    <link href="{% static 'TheaterWinBook/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'TheaterWinBook/assets/plugins/multiselect/css/multi-select.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'TheaterWinBook/assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'TheaterWinBook/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'TheaterWinBook/assets/plugins/switchery/switchery.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'TheaterWinBook/assets/plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'TheaterWinBook/assets/plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'TheaterWinBook/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'TheaterWinBook/assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}"
          rel="stylesheet">

        <!-- Sweet Alert css -->
    <link href="{% static 'TheaterWinBook/assets/plugins/sweet-alert/sweetalert2.min.css' %}" rel="stylesheet"
          type="text/css"/>

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="{% static 'TheaterWinBook/assets/plugins/morris/morris.css' %}">

    <!--calendar css-->
    <link href="{% static 'TheaterWinBook/assets/plugins/fullcalendar/css/fullcalendar.min.css' %}" rel="stylesheet"/>





    <!-- third party css -->
    <link href="{% static '/admin/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static '/admin/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css'  %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static '/admin/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static '/admin/libs/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet"
          type="text/css"/>


    <!-- App css -->

    <link href="{% static '/admin/css/app.min.css' %}" rel="stylesheet" type="text/css" id="app-style"/>


    <!-- icons -->
    <link href="{% static '/admin/css/icons.min.css' %}" rel="stylesheet %}" type="text/css"/>

    <link href="{% static 'TheaterWinBook/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'TheaterWinBook/assets/css/icons.css' %}" rel="stylesheet" type="text/css"/>
<!--    5.2 버전에서 body색이 안바뀌는 원인은 아래 style.css가 존재하기 떄문 -->
<!--    <link href="{% static 'TheaterWinBook/assets/css/style.css' %}" rel="stylesheet" type="text/css"/>-->

    <script src="{% static 'TheaterWinBook/assets/js/modernizr.min.js' %}"></script>


    {#this is for index video css#}
    {#    <link href="{% static 'TheaterWinBook/css/style.css' %}" rel="stylesheet" type="text/css">#}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
{#          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>#}
{#          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
        <![endif]-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        {#TheaterWinner Custom Css#}
    <link href="{% static 'TheaterWinBook/css/theaterwinner.css' %}" rel="stylesheet" type="text/css" media="screen">

    {# 카카오 api 사용을 위한 스크립트 #}
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
        {#jquery UI CSS 추가함. #}
    <link href="{% static 'TheaterWinBook/css/jquery-ui-1.7.css' %}" rel="stylesheet" type="text/css">
    {#    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">#}
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css">


        {% block css_script %}




        {% endblock %}
    </head>
<!-- body start -->
    <body class="loading" data-layout-color="dark"  data-layout-mode="default" data-layout-size="fluid" data-topbar-color="dark" data-leftbar-position="fixed" data-leftbar-color="dark" data-leftbar-size='default' data-sidebar-user='true'>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">


                                {% block content %}

                                {#    This is where Contents are placed #}

                                {% endblock %}

                    </div> <!-- container-fluid -->
                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                &copy; Fullvesting since 2022  </a>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end footer-links d-none d-sm-block">
                                    <a href="javascript:void(0);">About Us</a>
                                    <a href="javascript:void(0);">Help</a>
                                    <a href="javascript:void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


        <!-- Vendor -->
        <script src="/static/admin/libs/jquery/jquery.min.js"></script>
        <script src="/static/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/admin/libs/simplebar/simplebar.min.js"></script>
        <script src="/static/admin/libs/node-waves/waves.min.js"></script>
        <script src="/static/admin/libs/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="/static/admin/libs/jquery.counterup/jquery.counterup.min.js"></script>
        <script src="/static/admin/libs/feather-icons/feather.min.js"></script>


        <!-- third party js -->
        <script src="/static/admin/libs/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="/static/admin/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
        <script src="/static/admin/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="/static/admin/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
        <script src="/static/admin/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="/static/admin/libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
        <script src="/static/admin/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="/static/admin/libs/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="/static/admin/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="/static/admin/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="/static/admin/libs/datatables.net-select/js/dataTables.select.min.js"></script>
        <script src="/static/admin/libs/pdfmake/build/pdfmake.min.js"></script>
        <script src="/static/admin/libs/pdfmake/build/vfs_fonts.js"></script>
        <!-- third party js ends -->

        <!-- Datatables init -->
        <script src="/static/admin/js/pages/datatables.init.js"></script>


        <!-- App js -->
        <script src="/static/admin/js/app.min.js"></script>

<script>


    /* 오늘 날짜를 문자열로 반환 */
    function getDateStr(myDate) {
        return (myDate.getFullYear() + '-' + (myDate.getMonth() + 1) + '-' + myDate.getDate())
    }

    function today_setting() {
        var d = new Date()
        return getDateStr(d)
    }

    /* 오늘로부터 1개월전 날짜 반환 */
    function lastMonth_setting() {
        var d = new Date()
        var monthOfYear = d.getMonth()
        d.setMonth(monthOfYear - 1)
        return getDateStr(d)
    }

    $("#nav_winbook_list_btn").click(function () {
        var datepicker_start = lastMonth_setting();
        var datepicker_end = today_setting();
        window.location = '/winbook_list?datepicker_start=' + datepicker_start + "&datepicker_end=" + datepicker_end;
    });
</script>

        {% block javascript %}


        {% endblock %}


    </body>
</html>



