{% extends "TheaterWinBook/base_header_footer_251011.html" %}
{% load static %}

{% block css_script %}
<!--custom css -->

{% endblock %}

{% block page-content-class-inside %}
		<div class="card card-style">
			<div class="content mb-3">
				<h1>Meet Sticky Mobile</h1>
				<p class="pb-2">
					I'm sticky Mobile. Please don't forget to read the documentation attached. It will help you learn everything there is to know about our file.
				</p>
				<a href="index.html" class="btn btn-full btn-m rounded-sm font-700 text-uppercase bg-highlight">Get Started</a>
			</div>
		</div>

{% endblock %}



{% block out-of-pagecontent %}


{% endblock %}

{% block javascript %}
<script>
        $(document).ready(function () {

            // JQuery 적용
<!--            alert("this is test");-->
        });


    </script>
{% endblock %}

