{% extends "TheaterWinBook/base_header_footer_250724.html" %}
{% load static %}
{% block css_script %}
<!--custom css -->


<!-- for Adminto.Datatables page css -->
<link href="{% static 'TheaterWinBook/assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css'%}"
      rel="stylesheet" type="text/css"/>
<link href="{% static 'TheaterWinBook/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css'%}"
      rel="stylesheet" type="text/css"/>
<link href="{% static 'TheaterWinBook/assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css'%}"
      rel="stylesheet" type="text/css"/>
<link href="{% static 'TheaterWinBook/assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css'%}"
      rel="stylesheet" type="text/css"/>
<link href="{% static 'TheaterWinBook/assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css'%}"
      rel="stylesheet" type="text/css"/>
<link href="{% static 'TheaterWinBook/assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css'%}"
      rel="stylesheet" type="text/css"/>


{% endblock %}

{% block content %}
<!--base template의 content는 page-container 부터 넣으면 됩니다. -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="header-title">Multi item selection</h4>
                <p class="text-muted">
                    This example shows the multi option. Note how a click on a row will toggle its selected state
                    without effecting other rows,
                    unlike the os and single options shown in other examples.
                </p>

                <table id="selection-datatable" class="table table-striped dt-responsive nowrap w-100">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for coin in coins %}
                    <tr>
                        <td>{{ coin.market }}</td>
                        <td>{{ coin.trade_price|floatformat:2 }}</td>
                        <td>{{ coin.signed_change_rate|floatformat:2 }}%</td>
                        <td>43</td>
                        <td>2012/12/18</td>
                        <td>$313,500</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div> <!-- end row-->


{% endblock %}

{% block javascript %}

<!-- for Adminto.Datatables page js -->
<script src="{% static 'TheaterWinBook/assets/vendor/datatables.net/js/dataTables.min.js'%}"></script>
<script src="{% static 'TheaterWinBook/assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js'%}"></script>
<script src="{% static 'TheaterWinBook/assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'TheaterWinBook/assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js'%}"></script>
<script src="{% static 'TheaterWinBook/assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js'%}"></script>
<script src="{% static 'TheaterWinBook/assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js'%}"></script>
<script src="{% static 'TheaterWinBook/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'TheaterWinBook/assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js'%}"></script>
<script src="{% static 'TheaterWinBook/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'TheaterWinBook/assets/vendor/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'TheaterWinBook/assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js'%}"></script>
<script src="{% static 'TheaterWinBook/assets/vendor/datatables.net-select/js/dataTables.select.min.js'%}"></script>

<!-- for Adminto.Datatables page  Demo js -->
<script src="{% static 'TheaterWinBook/assets/js/components/table-datatable.js'%} "></script>


<script>
    $(document).ready(function () {

        // JQuery 적용
<!--            alert("this is test");-->
    });


</script>
{% endblock %}